body {
  font-family: sans-serif;
  min-height: 320px;
  overflow: scroll;
}

/* -----------squadgoals logo */
#squadGoalsImg {
  width: 150px;
  float: left;
  background-color: silver;
  padding: 5px;
  padding-bottom: 0;
  border-radius: 100px / 100px;
  border: 5px solid dimgrey;
}

/* ----------home page */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
  background-color: black;
  padding: 10px;
  height: 90px;
  z-index: 1000;
  overflow: hidden;
}

#loginlink, #logoutlink {
  float: right;
  margin: 0 auto;
  margin-right: 20px;
}

a {
  color: powderblue;
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: pointer;
}

.active {
  float: left;
  padding: 30px;
  font-size: 20px;
}

.active a:active {
  color: white;
}

.view {
  width: 100%;
  position: absolute;
  margin-top: 115px;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 100px;
  overflow: hidden;
}

.carousel-item {
  text-align: center;
  width: 90%;
}

 /* ----------blurb on home page */
#blurb {
  display: block;
  /* justify-content: center;
  align-content: center; */
  text-align: center;
  bottom: 70px;
  z-index: 2;
  overflow: hidden;
}

h2, h3 {
  color: cornflowerblue;
  font-family: sans-serif;
}

 /* ---------- about page */
.about {
  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("images/logo.png");
  /*opacity: 0.1;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 98%;
  background-position: center;
  display: flex;
  flex-flow: column;
  color: midnightblue;
  padding-top: 15px;
}

.content {
border-top: 10px;
padding: 20px;
}
/*-------------------------------*/


/* ----------footer */
#footer {
  display: block;
  position: fixed;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 20px;
}

#fitbitlogo {
  margin: 2px;
  float: left;
  width: 150px;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid mediumturquoise;
}

#contact {
margin-bottom: 0;
float: right;
padding-left: 0px;
padding-right: 0px;
}

/* ----------challenges page */
#centerTitle {
  color: black;
  text-align: center;
  background: linear-gradient(rgb(110, 110, 110), rgb(219, 219, 219));
  /* border-radius: 20%; */
  border-style: double;
  margin-right: 1%;
}

#challengesLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#globalRanking {
  /* border: solid 1px; */
  width: 300px;
  background: linear-gradient(rgb(84, 139, 141), rgb(119, 196, 199));
  border-style: double;
  border-color: midnightblue;
}

#h2Global {
  text-align: center;
  color: black;
}

#cityRanking {
  /* border: solid 1px; */
  width: 300px;
  background: linear-gradient(rgb(84, 139, 141), rgb(119, 196, 199));
  border-style: double;
  border-color: midnightblue;
}

#h2City {
  text-align: center;
  color: black;
}

#dailyRanking {
  /* border: solid 1px; */
  width: 300px;
  background: linear-gradient(rgb(84, 139, 141), rgb(119, 196, 199));
  border-style: double;
  border-color: midnightblue;
}

#h2Daily {
  text-align: center;
  color: black;
}

hr {
  border-color: midnightblue;
}

#compLogo {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  border: solid 1px midnightblue;
}

#listDiv {
  margin: 10% 0;
}

#challengeBg {
  height: 350vh;
  width: 100%;
  background-color: rgb(21, 21, 94);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  margin: 0px;
  
}

/* -----------dashboard page*/
.dashFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* profile */
.profilecontainer {
  display: flex;
  height: 100%;
  margin: 10px;
  overflow: hidden;
  width: 300px;
  padding: 10px;
  background-color: rgba(95, 158, 160, 0.5);
  color: black;
  border-radius: 12px;
}

/* ----------avatar */
#avatar {
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
  background-color: rgba(25, 25, 112, 0.75);
}

ul {
  font-family: sans-serif;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 24px;
  padding: 10px;
}

.profile {
  color: black;
  font-size: 24px;
  overflow: hidden;
}

#clickme {
  cursor: pointer;
}

/* ----------badges */
#badgebox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: rgba(95, 158, 160, 0.5);
  color: black;
  margin: 10px;
  min-width: 300px;
  max-width: 650px;
  height: 300px;
  padding: 40px;
  border-radius: 12px;
  overflow: hidden;
}

#timescompleted {
  font-size: 10px;
}

.fitbadge {
    width: 70px;
    height: 100px;
    display: flex;
    margin: 40px 3px;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

/*don't mess with these*/
.carousel {
  overflow-x: hidden;
  width: 100%;
  height: 400px;  /*you may need to change this*/
}

.carousel-item {
  position: absolute;
  width: 100%;
  transition: left ease .5s;
  left: 0;
}

.next {
  left: 100%;
  visibility: hidden;
}

.prev {
  left: -100%;
}

/*##Device = Desktops
  ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {
  .view {
    width: 100%;
  }
}

/*##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .view {
    width: 100%
  }
}

/*##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .view {
    width: 100%
  }
}

/* ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .view {
    width: 100%
  }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
  .view {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .dashFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #challengesLayout {
    flex-direction: column;
  }
  #squadGoalsImg {
    width: 100px;
  }
}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
  .view, #badgebox, .dashFlex, .profilecontainer, #challengesLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #squadGoalsImg {
    width: 100px;
  }
  #fitbitlogo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #contact {
    display: block;
    text-align: center;
  }
}

/* --------Log in Page  */
#logindiv {
  background: linear-gradient(rgb(146, 146, 146),rgb(226, 226, 226));
  margin: auto;
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 20%;

}

#innerLogDiv {
  background-color: cadetblue;
  width: 50%;
  padding: 8%;
  border-style: double;
  border-radius: 5%;
}

#userLogBtn {
  background-color: goldenrod;
  text-align: center;
}

#userCancelBtn {
  background-color: red;
  text-align: center;
}

#enterInput {
  width: 98%;
}

#passwordInput {
  width: 98%;
}
