body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dodgerblue;
  font-family: sans-serif;
  min-height: 320px;
  max-height: 100%;
  width: 100%;
}

/* home page */
.navbar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: stretch ;
  background-color: black;
  padding: 10px;
}

a {
  color: white;
  padding: 30px;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: pink;
}

a:active {
  background-color: grey;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
  margin-top: 500px;
  margin: auto;
  position: absolute;
  overflow: hidden;
}

img {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 400px;
  height: 330px;
  margin: 0 auto;
}

#about {
  display: inline-block;
  /* justify-content: center;
  align-items: center; */
  /* margin: 0 auto; */
  flex-wrap: wrap;
  padding: 10px;
  /* margin-top: 700px; */
}

h2, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dodgerblue;
  font-family: sans-serif;
}

/* challenges page */
.space {
  font-family: sans-serif;
  width: 100%;
  height: 50px;
}

.challenges {
  background-color: tomato;
  color: white;
  font-family: sans-serif;
  width: 100%;
  height: 100px;
}

#footer {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: pink;
  font-family: sans-serif;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
}

#fitbitlogo {
  margin: 0 auto;
  float: left;
  /* font-size: 20px; */
}

#contact {
margin-bottom: 0;
float: right;
/* font-size: 20px; */
}

/* badges page */
#badges {
  display: inline-block;
  width: 100%;
  color: white;
  margin: 0 auto;
}

#fitbitbadges {
  width: 50%;
  min-height: 300px;
  max-height: 500px;
  float: left;
  background-color: slategrey;
  color: white;
}

#appbadges {
  width: 50%;
  min-height: 300px;
  max-height: 500px;
  float: right;
  background-color: dodgerblue;
  color: white;
}

#anotherdiv {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  margin: 0 auto;
  color: white;
}

/* challenges page */
#container {
  width: 600px;
  height: auto;
}

.row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #AFAFAF;
}

.name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

.score {
  position: relative;
  display: inline-block;
  width: 25%;
}

.row:nth-child(1) {
  background: gold;
}

.row:nth-child(2) {
  background: #c0c0c0;
}

.row:nth-child(3) {
  background: #cd7f32;
}

/*Dashboard-----Profile-------CSS-------*/
#container{
  margin: auto;
  border: 2px solid black;
  max-height: 600px;
}

#logo{
  float: right;
  font-size: 22px;
}

.profile{

  color: black;
  font-size: 24px;
}
