body {
  display: flex;
  align-content: center;
  justify-content: center;
  color: dodgerblue;
  font-family: sans-serif;
  min-height: 320px;
  max-height: 100%;
}

/* home page */
.navbar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: stretch ;
  background-color: black;
  padding: 10px;
}

a {
  color: white;
  padding: 30px;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: pink;
}

a:active {
  background-color: grey;
}

.view {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  position: absolute;
  /* background-color: green; */
  margin-top: 95px;
  margin-right: 0;
  margin-left: 0;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  margin: auto;
  padding: 5px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 330px;
  margin: 0 auto;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 10px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: dodgerblue;
  font-family: sans-serif;
}

h3 {

}

#footer {
  display: block;
  position: absolute;
  z-index: -1;
  background-color: black;
  color: pink;
  font-family: sans-serif;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 20px;
}

#fitbitlogo {
  margin: 0 auto;
  float: left;
}

#contact {
margin-bottom: 0;
float: right;
}

/* badges page */
#badges {
  display: inline-block;
  width: 100%;
  color: white;
  margin: 0 auto;
}

#fitbitbadges {
  width: 50%;
  min-height: 300px;
  max-height: 500px;
  float: left;
  background-color: slategrey;
  color: white;
}

#appbadges {
  width: 50%;
  min-height: 300px;
  max-height: 500px;
  float: right;
  background-color: dodgerblue;
  color: white;
}

#anotherdiv {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  margin: 0 auto;
  color: white;
}

/* challenges page */


/*Dashboard-----Profile-------CSS-------*/
#container{
  margin: auto;
  border: 2px solid black;
  max-height: 600px;
}

#logo{
  float: right;
  font-size: 22px;
}

.profile{
  color: black;
  font-size: 24px;
}
